body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 10px 0;
}

header a {
  color: #ffdd57;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}
.addUsageType, .addOperation, .addRecordType, .addInstanceProperty, .addLineItem, .addSavingsPlanOfferingType {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.addUsageType:hover, .addOperation:hover, .addRecordType:hover, .addInstanceProperty:hover, .addLineItem:hover, .addSavingsPlanOfferingType:hover {
    background-color: #0056b3;
}

.remove-rule-group {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.remove-rule-group:hover {
  background-color: #c82333;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
  align-items: center;
}

.flex-item {
  flex: 1;
  min-width: 180px;
  padding: 0 5px;
}

.flex-item input,
.flex-item select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.flex-item label {
  margin-bottom: 5px;
  display: block;
}

.import-section,
.details-section,
.action-section,
.output-section,
.results-section,
.ruleGroup {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.required {
  color: red;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
  min-width: 150px; /* Set a minimum width for all buttons */
  height: 40px; /* Set a fixed height for all buttons */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button:hover {
  background-color: #0056b3;
}

.info-btn {
  background-color: #28a745;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.icon-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon-actions button {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.3s;
}

.icon-actions button:hover {
  background-color: #e2e6ea;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

/* Additional styles for Rule Group */
.ruleGroup .section-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ruleGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.ruleGroup input,
.ruleGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.ruleGroup .sub-group {
  margin-top: 10px;
}

.ruleGroup .sub-entry {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
}

.ruleGroup .sub-entry input[type="text"] {
  flex-grow: 1;
  max-width: 80%;
}

.ruleGroup .sub-entry button, .remove-rule {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.ruleGroup .sub-entry button:hover, .remove-rule:hover {
  background-color: #c82333;
}

.sub-entry {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
}

.sub-entry input[type="text"] {
  flex-grow: 1;
  max-width: 80%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  header {
    background-color: #1e88e5;
  }

  .import-section,
  .details-section,
  .action-section,
  .output-section,
  .results-section,
  .ruleGroup {
    background-color: #1f1f1f;
  }

  .input-group input,
  textarea {
    background-color: #333;
    border: 1px solid #555;
    color: #e0e0e0;
  }
  .addUsageType, .addOperation, .addRecordType, .addInstanceProperty, .addLineItem, .addSavingsPlanOfferingType {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.addUsageType:hover, .addOperation:hover, .addRecordType:hover, .addInstanceProperty:hover, .addLineItem:hover, .addSavingsPlanOfferingType:hover {
    background-color: #0056b3;
}

.remove-rule-group {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.remove-rule-group:hover {
  background-color: #c82333;
}

  button {
    background-color: #2196f3;
  }

  button:hover {
    background-color: #1976d2;
  }

  .icon-actions button {
    background-color: #333;
    border: 1px solid #555;
  }

  .icon-actions button:hover {
    background-color: #444;
  }

  footer {
    background-color: #212121;
  }
}
